header{
    padding: 20px;
}

header .row{
    display: flex;
    align-items: center;
}

header h1{
    font-size: 50px;
    color: DarkBlue;
}

header nav{
    display: flex;
    font-size: 16px;
}

header p{
    margin: 1px;
}

header a:link, a:visited{
    display: block;
    font-weight: bold;
    color: #ffffff;
    background-color: #98bf21;
    width: 120px;
    padding: 4px;
    text-align: center;
    text-decoration: none;
}

header a:hover, a:active{
    background-color:#7A991A;
}

.jumbotron{
    display: flex;
    align-items: center;
    background-image: url("https://s-i.huffpost.com/gen/4159310/images/o-COUPLE-TRAVELING-facebook.jpg");
    background-size: cover;
    height: 600px;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.jumbotron h2{
    font-size: 36px;
    font-weight: 700;
    color: Red;
}

.jumbotron h3{
    font-size: 32px;
    font-weight: 700;
    color: Red;
}

.btn.btn-primary{
    border-radius: 5px;
    border: 0;
    color: Yellow;
    background-color: Black;
}

.btn.btn-primary:hover{
    color: Black;
    background-color: Yellow;
}

section p{
    font-size: 24px;
}

section .row img{
    margin: 0 0 40px;
    width: 550px;
    height: 500px;
}

footer{
    font-size: 16px;
    margin: 50px;
}

footer .col-sm-8{
    display: flex;
    color: gray;
}

footer .col-sm-4{
    display: flex;
    color: gray;
}

footer p{
    margin: 20px;
}
